@import "tailwindcss";

:root {
  --color-bg: #0a1f1c;
  --color-text: #f2f0e4;
  --color-accent: #ccff00; /* Acid Green */
  --color-secondary: #ff4d00; /* Sunset Orange */
}

@theme {
  --font-serif: var(--font-fraunces), serif;
  --font-sans: var(--font-space), sans-serif;
  
  --color-bg: var(--color-bg);
  --color-text: var(--color-text);
  --color-accent: var(--color-accent);
  --color-secondary: var(--color-secondary);
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a1f1c;
}

::-webkit-scrollbar-thumb {
  background: #1f3d38;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ccff00;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}